<?xml version="1.0"?>
<model>
  <name>uuv_model</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Rishit Maurya</name>
    <email>rishitmaurya11@email.com</email>
  </author>
  <description>
    Underwater robot assembled from STL parts.
  </description>
</model>
